body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,0%,9%);
}

.calculadora{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease;
}

input{
    width: 100%;
    height: 110px;
    font-size: 3rem;
    text-align: right;
    border: none;
    padding: 10px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: hsl(0,0%,20%);
    color: white;
}

#botones{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

.btn{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


.btn:hover{
    background-color: hsl(0,0%,40%);
}   

.op{
    background-color: hsl(44, 81%, 48%);
}

.op:hover{
    background-color: hsl(27, 75%, 55%);
}

.calculadora:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

